{% extends "users/base_styles.html" %}
{% load static %}

{% block title %}Página de inicio{% endblock title%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="video-background">
    <video autoplay loop muted preload="metadata">
        <source src="{% static 'videos/itat.mp4' %}" type="video/mp4">
        <source src="{% static 'videos/itat.webm' %}" type="video/webm">
        Tu navegador no soporta la etiqueta de video.
    </video>
</div>

    <div class="jumbotron">
        <h1 class="display-4">Bienvenido, <b>{{user.first_name.title|default:'Invitado'}}</b></h1>
        <p class="lead">
            <b>ItAssistance</b> es un sistema de registro de asistencia para estudiantes del ITAT, desarrollado con Django, que permite un inicio de sesión seguro y una gestión eficiente de la asistencia en tiempo real.
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-danger btn-lg" href="{% url 'logout' %}" role="button">Cerrar sesión</a>
            {% else %}
                <a class="btn btn-danger btn-lg" href="{% url 'login' %}" role="button">Iniciar sesión</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}